* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view-port {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    max-width: 1500px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title {
    font-size: 30px;
    font-weight: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details input[type="file"] {
    display: none;
}

form .user-details .button-center button {
    height: 35px;
    bottom: 10px;
}

form .user-details .example-full-width {
    margin-bottom: 15px;
    width: calc(100% / 2 - 40px);
}

form .user-details .button-center {
    margin-right: 30px;
}