<div class="view-port">
    <div class="container">
        <div class="title">Experience Details</div>
        <div class="content">
            <form [formGroup]="experiencedetails">
                
                <button mat-raised-button color="primary" (click)="addDetail()">
                    <mat-icon>add</mat-icon> Add Education
                </button>

                <div class="container">

                <div class="user-details">
                    <mat-label appearance="fill">Company Name</mat-label>
                    <mat-label>Position</mat-label>
                    <mat-label>Total Year</mat-label>
                    <mat-label>Last Ctc</mat-label>
                    <mat-label>Action</mat-label>
                </div>

                <div class="user-details">
                    <ng-container formArrayName="details">
                        <ng-container *ngFor="let detailForm of details.controls; let i = index">
                            <div class="user-class" [formGroupName]="i">
                                <div >
                                <mat-form-field appearance="fill">
                                    <mat-label>Company Name</mat-label>
                                        <input matInput name="company_name" type="text" formControlName="company_name">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Position</mat-label>
                                        <input matInput name="position" type="text" formControlName="position">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Total Year</mat-label>
                                        <input matInput name="total_year" type="number" formControlName="total_year">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Last Ctc</mat-label>
                                        <input matInput name="last_ctc" type="number" formControlName="last_ctc">
                                </mat-form-field>
                            </div>
                                <div appearance="fill" >
                                    <mat-icon (click)="deleteDetail(i)" color="primary">save</mat-icon>
                                    <mat-icon (click)="deleteDetail(i)" color="warn">clear</mat-icon>
                                    <mat-icon (click)="deleteDetail(i)" color="warn">delete</mat-icon>
                                </div>
                                
                            </div>
                        </ng-container>
                    </ng-container>
                </div> 
                </div>
            </form>
        </div>
    </div>
</div>