<div class="view-port">
    <div class="container">
        <div class="title">Personal Details</div>
        <div class="content">
            <form [formGroup]="personaldetails">
                
                <div class="user-details">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                            <input matInput name="firstname" type="text" formControlName="firstname">
                                <mat-error *ngIf="personaldetails.controls['firstname'].hasError('required')">
                                    The First Name is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Middle Name</mat-label>
                            <input matInput name="middlename" type="text" formControlName="middlename">
                                <mat-error *ngIf="personaldetails.controls['middlename'].hasError('required')">
                                    The Middle Name is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                            <input matInput name="lastname" type="text" formControlName="lastname">
                                <mat-error *ngIf="personaldetails.controls['lastname'].hasError('required')">
                                    The Last Name is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Ex. pat@example.com" formControlName="email">
                                <mat-error *ngIf="personaldetails.controls['email'].hasError('email') && !personaldetails.controls['email'].hasError('required')">
                                    Please enter valid Email Address
                                </mat-error>
                                <mat-error *ngIf="personaldetails.controls['email'].hasError('required')">
                                    The Email is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Mobile Number</mat-label>
                            <input matInput mask='(000) 000-0000' name="mobilenumber" type="text" formControlName="mobilenumber">
                                <mat-error *ngIf="personaldetails.controls['mobilenumber'].hasError('pattern')">
                                    Please enter a valid Mobile number
                                </mat-error>
                                <mat-error *ngIf="personaldetails.controls['mobilenumber'].hasError('required')">
                                    The Mobile No. is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contact Number</mat-label>
                            <input matInput mask='(000) 000-0000' name="contactnumber" type="text" formControlName="contactnumber">
                                <mat-error *ngIf="personaldetails.controls['contactnumber'].hasError('pattern')">
                                    Please enter a valid number
                                </mat-error>
                                <mat-error *ngIf="personaldetails.controls['contactnumber'].hasError('required')">
                                    The Contact Number is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Choose Birth date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="personaldetails.controls['date'].hasError('required')">
                                        The Birth date is <strong>required</strong>...
                                    </mat-error>
                    </mat-form-field><pre></pre>

                    <div class="button-center" *ngIf="!personaldetails.controls['uploadimg'].value">
                        <button mat-raised-button color="primary">
                            <label for="file-upload">
                                Upload Image
                            </label>
                        </button>
                            <input id="file-upload" type="file" name="uploadimg" accept="image/png, image/jpeg" (change)="updateimg($event)"/>
                            <h6>Only JPG OR PNG file are allowed.</h6>    
                    </div>

                    <div class="button-center" *ngIf="personaldetails.controls['uploadimg'].value">
                        {{personaldetails.controls['uploadimg'].value}}
                        <mat-icon (click)="personaldetails.controls['uploadimg'].setValue(null)" color="primary">close</mat-icon>
                    </div>
                    

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Present Address</mat-label>
                            <textarea matInput name="presentaddress" type="text" placeholder="Enter your address..." formControlName="presentaddress"></textarea>
                                <mat-error *ngIf="personaldetails.controls['presentaddress'].hasError('required')">
                                    The Address is <strong>required</strong>...
                                </mat-error>
                                <mat-error *ngIf="personaldetails.controls['presentaddress'].hasError('minlength') || personaldetails.controls['presentaddress'].hasError('maxlength')">
                                    Enter valid Address
                                </mat-error>
                    </mat-form-field><pre></pre>
                        
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Permanent Address</mat-label>
                            <textarea matInput name="permanentaddress" type="text" placeholder="Enter your address..." formControlName="permanentaddress"></textarea>
                                <mat-error *ngIf="personaldetails.controls['permanentaddress'].hasError('required')">
                                    The Permanent Address is <strong>required</strong>...
                                </mat-error>
                    </mat-form-field><pre></pre>

                </div>
            </form>
        </div>
    </div>
</div>