<div class="view-port">
    <div class="container">
        <div class="title">Personal Details</div>
        <div class="content">
            <form [formGroup]="personaldetails">
                
                <div class="user-details">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>First Name</mat-label>
                            <input matInput name="firstname" type="text" formControlName="firstname">
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Middle Name</mat-label>
                            <input matInput name="middlename" type="text" formControlName="middlename">
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                            <input matInput name="lastname" type="text" formControlName="lastname">
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                            <input matInput name="email" type="email" formControlName="email">
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Mobile Number</mat-label>
                            <input matInput name="mobilenumber" type="number" formControlName="mobilenumber">
                    </mat-form-field><pre></pre>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Contact Number</mat-label>
                            <input matInput name="contactnumber" type="number" formControlName="contactnumber">
                    </mat-form-field><pre></pre>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Choose Birth date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field><pre></pre>

                    <div class="button-center">
                        <button mat-raised-button color="primary">
                            <label for="file-upload">
                                Upload Image
                            </label>
                        </button>
                            <input id="file-upload" type="file" name="uploadimg" accept="image/png, image/jpeg" formControlName="uploadimg"/>
                            <h6>Only JPG OR PNG file are allowed.</h6>    
                    </div>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Present Address</mat-label>
                            <textarea matInput name="presentaddress" type="text" placeholder="Enter your address..." formControlName="presentaddress"></textarea>
                    </mat-form-field><pre></pre>
                        
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label>Permanent Address</mat-label>
                            <textarea matInput name="permanentaddress" type="text" placeholder="Enter your address..." formControlName="permanentaddress"></textarea>
                    </mat-form-field><pre></pre>

                    <mat-checkbox class="example-margin">Checked</mat-checkbox>

                </div>
            </form>
        </div>
    </div>
</div>